.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.square {
    color: white;
    border: none;
    cursor: pointer;
    float: left;
    font-size: 74px;
    font-weight: bold;
    line-height: 150px;
    height: 150px;
    width: 150px;
    text-align: center;
}

.board-row:nth-child(odd) .square:nth-child(even) { background: #800080; }
.board-row:nth-child(odd) .square:nth-child(odd) { background: #660066; }
.board-row:nth-child(even) .square:nth-child(even) { background: #660066; }
.board-row:nth-child(even) .square:nth-child(odd) { background: #800080; }

.square:focus {
    outline: none;
}

.square.highlighted {
    background: #efbbff !important;
}

.kbd-navigation .square:focus {
    background: #ddd;
}